@import './animations.css';

:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light-blue: #36dcca;

  //1) This makes switch theme according to your system mode(light/dark)
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  //2) This makes switch theme according to your system mode(light/dark)
  background-color: light-dark(#fff, var(--dark));
  color: light-dark(var(--dark), #fff);
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

header {
  padding: 2rem 1rem;
  width: clamp(300px, 100%, 800px);
  margin: 0 auto;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
  }

  #new-task-form {
    display: flex;

    #new-task-input {
      flex: 1 1 0%;
      background-color: var(--darker);
      padding: 1rem;
      border-radius: 1rem;
      margin-right: 1rem;
      color: var(--light);
      font-size: 1.25rem;

      &::placeholder {
        color: var(--gray);
      }
    }

    #new-task-submit {
      color: var(--pink);
      font-size: 1.25rem;
      background-image: linear-gradient(
        to right,
        var(--light-blue),
        var(--purple)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}

main {
  flex: 1 1 0px;
  width: clamp(300px, 100%, 800px);
  margin: 0 auto;

  .task-list {
    padding: 1rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 300;
      color: var(--gray);
      margin-bottom: 1rem;
    }

    #tasks {
      .task {
        display: flex;
        justify-content: space-between;
        background-color: var(--darkest);
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;

        .content {
          flex: 1 1 0%;

          .text {
            color: var(--light);
            font-size: 1.125rem;
            width: 100%;
            display: block;
            transition: 0.4s;

            &:not(:read-only) {
              color: var(--pink);
            }
          }
        }

        .actions {
          display: flex;
          margin: 0 -0.5rem;

          button {
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 1.125rem;
            font-weight: 700;
            text-transform: uppercase;
            transition: 0.4s;

            &:hover {
              opacity: 0.8;
              animation: shake 0.1s;
            }

            &:active {
              opacity: 0.6;
            }
          }

          .edit {
            background-image: linear-gradient(
              to right,
              var(--light-blue),
              var(--purple)
            );

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .delete {
            color: crimson;
          }
        }
      }
    }
  }
}
